<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OnlineClassroom - Dashboard</title>

		<style>
			.container {
				padding: 20px 30px;
			}
			.stats {
				display: flex;
				gap: 40px;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}
			.stats div {
				border: 1px solid #ccc;
				padding: 10px 30px;
				text-align: center;
			}
			.tables {
				width: 100%;
				display: flex;
				justify-content: center;
			}
			.tables table {
				width: 100%;
			}
			.tables table th,
			td {
				padding: 10px 30px;
				text-align: center;
				border-bottom: 1px solid #ccc;
			}
			img {
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}
			.table-container {
				margin-top: 60px;
			}
			.nav {
				margin-bottom: 30px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.nav .logout a {
				text-decoration: none;
				color: crimson;
				font-weight: bold;
				font-size: 20px;
			}
			.category {
				background-color: crimson;
				padding: 8px 16px;
				border-radius: 8px;
				box-sizing: border-box;
			}
			.category a {
				text-decoration: none;
				color: white;
			}
			.category:hover {
				background-color: white;
				border: 2px solid crimson;
			}
			.category:hover a {
				text-decoration: none;
				color: crimson;
			}
			button {
				border: none;
				padding: 7px 14px;
				border-radius: 5px;
				background-color: #f7c43b;
			}
			.links {
				display: flex;
				align-items: center;
				gap: 40px;
				margin-top: 50px;
			}
			.links a {
				text-decoration: none;
				color: crimson;
				font-size: 18px;
				font-weight: 800;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="nav">
				<div class="category">
					<a href="/category">Add category</a>
				</div>
				<div class="logout">
					<a href="/logout">Logout</a>
				</div>
			</div>
			<div class="stats">
				<div>
					<h1>Total Earning</h1>
					<p>$<%= totalEarning %></p>
				</div>
				<div>
					<h1>Total Students</h1>
					<p><%= totalStudentCount %></p>
				</div>
				<div>
					<h1>Total Instructors</h1>
					<p><%= totalInstructorCount %></p>
				</div>
				<div>
					<h1>Total Courses</h1>
					<p><%= totalCoursesCount %></p>
				</div>
			</div>

			<div class="links">
				<div>
					<a href="/dashboard">Students</a>
				</div>
				<div>
					<a href="/instructors">Instructors</a>
				</div>
				<div>
					<a href="/categories">Categories</a>
				</div>
				<div>
					<a href="/courses">Courses</a>
				</div>
			</div>

			<div class="table-container">
				<h1>Instructors</h1>
				<div class="tables">
					<table>
						<tr>
							<th>Id</th>
							<th>Username</th>
							<th>Photo</th>
							<th></th>
						</tr>
						<% instructors.forEach(instructor => { %>
						<tr>
							<td><%= instructor.id %></td>
							<td><%= instructor.username %></td>
							<td><img src="/<%= instructor.photo %>" /></td>
							<td>
								<form
									action="/instructors/remove/<%= instructor.id %> "
									method="POST"
								>
									<button
										type="submit"
										onclick="return confirm('Are you sure you want to delete this instructor?')"
									>
										Remove
									</button>
								</form>
							</td>
						</tr>
						<% }) %>
					</table>
				</div>
			</div>
		</div>

		<script>
			const logout = document.querySelector(".logout");
			logout.addEventListener("click", (e) => {
				console.log("clicked");
				fetch("/logout");
			});
		</script>
	</body>
</html>
